<% include partials/header %>

<a href="/edit" style="float:right;">Edit Profile</a>
<h1 class="user-name" ><%= donor.name %> (<%= donor.local.username %> )</h1>
<% if(donor.activeStatus == true) { %>
    <h4 class="text-center user-name"> Currently Active </h4>
<% } else { %>
    <h4> Not Active</h4>
    <% } %>

<div class="container user-profile">
    <div class="row">
        <div class="user-image" class="col-md-3 animated slideInleft ">
            <% var file = 'uploads/' + donor.profilePic ; %>
            <img src="<%= file %>" alt="Avatar" height="300" width="300" class="img-responsive" style="border-radius:50%;"/>
        </div>
        <div class="profile-user-info" class="col-md-9 animated slideInRight">
            <ul style="list-style:none;">
                <li>Email         : <%= donor.email %></li>
                <li>Contact       : <%= donor.contactNumber%></li>
                <li>Address       : <%= donor.address %></li>
                <li>Blood Group   : <%= donor.bloodGroup %></li>
                <li>Gender        : <%= donor.gender%></li>
                <li>D.O.B.        : <%= donor.dob %></li>
                <li>City          : <%= donor.city%></li>
                <li>Last donation : <%= donor.dateOfLastDonation %></li>
            </ul>
        </div>
    </div>
</div>

<% include partials/footer %>